:root {
  --link-color: #28c;
  --text-color: #111;
  --body-color: #fdfdfd;
  --heading-color: #111;
  --heading-hover-background: rgba(128, 192, 255, 0.5);
  --subheading-color: #666;
  --marker-background-main: linear-gradient(
    75deg,
    rgba(255, 192, 128, 0.55),
    rgba(255, 192, 128, 0.85),
    rgba(255, 192, 128, 0.15)
    );
  --marker-background-secondary: linear-gradient(
    75deg,
    rgba(255, 192, 128, 0.35),
    rgba(255, 192, 128, 0.85),
    rgba(255, 192, 128, 0.25)
    );
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #2af;
    --text-color: #ddd;
    --body-color: #20202a;
    --heading-color: #fff;
    --heading-hover-background: rgba(0, 64, 128, 0.5);
    --subheading-color: #aaa;
    --marker-background-main: linear-gradient(
      75deg,
      rgba(192, 64, 0, 0.55),
      rgba(192, 64, 0, 0.85),
      rgba(192, 64, 0, 0.15)
      );
    --marker-background-secondary: linear-gradient(
      75deg,
      rgba(192, 64, 0, 0.35),
      rgba(192, 64, 0, 0.85),
      rgba(192, 64, 0, 0.25)
      );
  }
}

html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
  padding-top: 0.5rem;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

h1 span {
  color: var(--subheading-color);
}

h1 a {
  --logo-padding: 0.5rem;

  display: inline-block;
  padding: calc(var(--logo-padding) * 0.5) var(--logo-padding);
  margin: calc(var(--logo-padding) * -1.5);
  margin-right: calc(var(--logo-padding) * -0.5);
  color: var(--heading-color);
}

h1 a:hover,
h1 a:focus {
  text-decoration: none;
  background: var(--heading-hover-background);
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  background-size: auto 0.3rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: var(--marker-background-main);
  border-radius: 2% 1% 8% 5%;
}

h3 {
  font-size: 1.1rem;
  color: var(--subheading-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.lead {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  background-size: auto 0.5rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: var(--marker-background-main);
  border-radius: 2% 1% 2% 5%;
}

.lead strong {
  background-image: var(--marker-background-secondary);
  border-radius: 5% 30% 20% 40%;
}

.lead br {
  display: none;
}

img {
  width: 100%;
}

ul {
  margin: 1rem 0;
  padding-left: 2rem;
}

.skills {
  display: flex;
  margin-bottom: 2rem;
}

.skills strong {
  display: block;
  font-size: 1.1rem;
  color: #555;
  font-family: "Roboto Slab", serif;
}

.skills em {
  display: block;
  font-style: normal;
}

.skills__header {
  flex: 1;
  margin-right: 2rem;
}

.skills ul {
  flex: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  display: inline-block;
  margin: 0 1rem 0.5rem 0;
  padding: 0.1rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 110%;
  }

  .lead {
    font-size: 1.2rem;
  }

  .lead br {
    display: inherit;
  }

  ul {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 125%;
  }

  .lead {
    font-size: 1.35rem;
  }
}
